<!-- <$> Title ggg -->
  <% @snips.each do |snip| %>
  <p><%= snip.title %></p> 
<% end %>
<!-- </$> --> 

<!-- <$> Title ggg -->
  <% @snips.each do |snip| %>
  <p><%= snip.title %></p> 
<% end %>
<!-- </$> --> 

